<div id="message_create">
<%= form_for :message do |f| %>
  <div class="field">
    <label class="label">Request Message</label>
    <div class="control">
      <%= f.text_area :message, class: 'textarea' %>
    </div>
  </div>


  <div class="field">
    <label class="label">Mentions</label>
    <%= f.text_area(:mentions, placeholder: '@example_group, @example_user, ...', class: 'textarea') %>
  </div>

  <div class="field">
    <label class="label">Selections</label>
    <template v-for="messageButton, key in messageButtons">
        <div class="columns">
          <div class="column is-11">
            <input type="text" class="input" value="">
          </div>
          <div class="column is-11">
            <a class="delete is-large" @click.prevent="removeMessageButton(key)"></a>
          </div>
        </div>
    </template>
    <button class="button" @click.prevent="addMessageButton">追加する</button>
  </div>

  <div class="field">
    <p>
      <%= check_box_tag :require_confirm, '確認用ポップアップを表示する' %>
      <%= label_tag :require_confirm, '確認用ポップアップを表示する' %>
    </p>
  </div>

  <div class="field">
    <div class="control">
        <%= f.datetime_select :due_at, label: { text: '対応期限' }, class: 'select', use_month_numbers: true, minute_step: 10 %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">Create</button>
    </div>
    <div class="control">
      <button class="button is-link">Cancel</button>
    </div>
  </div>
<% end %>
</div>

<%= javascript_include_tag "messages/create" %>
