<div id="message_create">
<%= bootstrap_form_tag(url: '/messages/create') do |f| %>
  <%= f.text_area(:message, label: 'request message') %>
  <%= f.text_area(
    :destination_users,
    label: 'request destination users by slack account',
    placeholder: '@example_group, @example_user, ...') %>

  <template v-for="messageButton, key in messageButtons">
    <p><input type="text" value=""> [<a href="#" @click.prevent="removeMessageButton(key)">削除</a>]</p></p>
  </template>
  <button @click.prevent="addMessageButton">追加する</button>

  <p>
    <%= check_box_tag :require_confirm, '確認用ポップアップを表示する' %>
    <%= label_tag :require_confirm, '確認用ポップアップを表示する' %>
  </p>

  <%= f.datetime_select :due_at, label: { text: '対応期限' }, class: 'form-control', use_month_numbers: true, minute_step: 10 %>

  <%= f.submit('Create') %>
<% end %>
</div>

<%= javascript_include_tag "messages/create" %>
