<div id="message_create">
<%= form_for :message do |f| %>
  <div class="field">
    <label class="label">Request Message</label>
    <div class="control">
      <%= f.text_area :message, class: 'textarea' %>
    </div>
  </div>


  <div class="columns">
    <div class="column is-6">
      <div class="field">
        <label class="label">Mentions</label>
        <%= f.text_field(:mentions, placeholder: '@example_group, @example_user, ...', class: 'input') %>
      </div>
    </div>
    <div class="column is-6">
      <div class="box">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-info"><img src="https://avatars.slack-edge.com/2016-04-01/31165631686_d9eb6d000965c39bfbaa_192.jpg" class="image is-16x16">&nbsp;@takumakume</span>
              <a class="tag is-delete"></a>
            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-info"><img src="https://avatars.slack-edge.com/2015-05-08/4787287488_5cdb45313c223b678927_192.jpg" class="image is-16x16">&nbsp;@hypermkt</span>
              <a class="tag is-delete"></a>
            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-info"><img src="https://avatars.slack-edge.com/2015-05-08/4787287488_5cdb45313c223b678927_192.jpg" class="image is-16x16">&nbsp;@hypermkt</span>
              <a class="tag is-delete"></a>
            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-info"><img src="https://avatars.slack-edge.com/2015-05-08/4787287488_5cdb45313c223b678927_192.jpg" class="image is-16x16">&nbsp;@hypermkt</span>
              <a class="tag is-delete"></a>
            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-info"><img src="https://avatars.slack-edge.com/2015-05-08/4787287488_5cdb45313c223b678927_192.jpg" class="image is-16x16">&nbsp;@hypermkt</span>
              <a class="tag is-delete"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Selections</label>
    <template v-for="messageButton, key in messageButtons">
        <div class="columns">
          <div class="column is-11">
            <input type="text" class="input" value="">
          </div>
          <div class="column is-11">
            <a class="delete is-large" @click.prevent="removeMessageButton(key)"></a>
          </div>
        </div>
    </template>
    <button class="button" @click.prevent="addMessageButton">追加する</button>
  </div>

  <div class="field">
    <p>
      <%= check_box_tag :require_confirm, '確認用ポップアップを表示する' %>
      <%= label_tag :require_confirm, '確認用ポップアップを表示する' %>
    </p>
  </div>

  <div class="field">
    <div class="control">
        <%= f.datetime_select :due_at, label: { text: '対応期限' }, class: 'select', use_month_numbers: true, minute_step: 10 %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button
        @click.prevent="register()"
        class="button is-primary">Create</button>
    </div>
    <div class="control">
      <button class="button is-link">Cancel</button>
    </div>
  </div>
<% end %>
</div>

<%= javascript_pack_tag "messages/new" %>
